html {

  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color: #3051f3;
  color: #f6f6f6;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: 'Fredoka One', cursive;

  /* font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif; */
  margin: 0;
}

nav {
  background-color: #f6f6f6;
  color: #1a1a1a;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  min-height: 60px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* .right {
  margin-left: auto;
} */

#trigger-name-label {
  text-align: center;
}

#name-input {
  display: block;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  width: 175px;
  border: none;

}

#name-submit {
  border-radius: 24px;
  width: 75px;
  padding: 10px;
  font-family: 'Fredoka One', cursive;
  border: none;

}

#dropdown {
  display: block;
  border-radius: 24px;
  width: 100px;
  font-family: 'Fredoka One', cursive;
  background-color: rgb(0, 170, 255);
  color: #3051f3;
  padding: 10px;
  /* align-items: center; */
  margin: auto;
  border: none;

}


#name-submit {
  display: block;
  background-color: rgb(0, 170, 255);
  color: #3051f3;
  margin: auto;
  width: 100px;
}



