html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color: #4D8B31;
  color: #FFC800;
  font-family: 'Fredoka One', cursive;
  margin: 0;
}

nav {
  background-color: #f6f6f6;
  color: #1a1a1a;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  min-height: 60px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#drop-down-label {
  display: block;
  margin: 10px;
  padding: 6px;
}
#dropdown {
  display: flex;
  display: block;
  border-radius: 24px;
  width: 100px;
  font-family: 'Fredoka One', cursive;
  background-color: #FF8427;
  color: white;
  padding: 10px;
  margin: auto;
  border: none;
}

#trigger-name-label {
  display: block;
  text-align: center;
  margin: 15px;
}

#name-input {
  display: block;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  width: 175px;
  border: none;
  margin: 15px;
}

#name-submit {
  border-radius: 24px;
  padding: 10px;
  justify-content: center;
  font-family: 'Fredoka One', cursive;
  border: none;
  display: block;
  background-color: #FF8427;
  color: white;
  margin: auto;
  width: 100px;
}








