<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>
<main>
  <h1>Migraine Tracker</h1>
  <img id="brain" src="./images/brain.png" alt="Brain" />
  <h2>Welcome <%= user ? user.profile.name : "back!" %></h2>

</main>
<%- include('./partials/footer') %>
